.aboutPage {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
    /* max-width: 1024px; */
    /* margin: 0 auto; */
    /* padding: 60px 20px; */
    font-size: 20px;
    color: var(--background-color);

    & > a {
        position:  absolute;
        top: 20px;
        left: 20px;
        font-size: 20px;
        text-decoration: none;
        color: var(--purple-white);
        font-weight: bold;
    }

    & > a:hover {
        text-decoration: underline;
        
    }

    h1 {
        font-size: 40px;
    }

    h1 + p {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 30px;
    }

    section {
        margin-bottom: 30px;
    }

    ul {
        list-style: inside;
    }
}