.CreateNewTask {
    margin-bottom: 20px ;

    form {
        display: grid;

        label {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .panel {
            input {
                width:70%;
                max-width: 350px;
                font-size: 18px;
                padding: 5px 5px;
                border-radius: 5px;
                margin-right: 10px;
                border: none;
            }

            input:focus {
                outline: 1px solid var(--bright-color-1);
            }

            button {
                padding: 2px 10px;
                height: 35px;
                color: var(--purple-white);
                background-color: var(--bright-color-1);
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            button:active {
                transform: scale(0.98);
            }

            button:focus-visible {
                outline: none;
                outline: 2px solid #ddd;
            }
        }
    }

    .error {
        color: rgb(179, 1, 1);
        font-size: 14px;
        font-weight: bold;
    }
}