.FilterOptionButton {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid var(--bright-color-1);
    border-radius: 5px;
    cursor: pointer;
}


.FilterOptionButton input {
    margin-right: 10px;
}