.TaskItem {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--bright-color-1);
    max-width: 480px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--purple-white);
    color: var(--background-color);

    .info {
        display: flex;
        flex-direction: column;
        width: 70%;

        .description {
            max-width: 280px;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .description.completed {
            text-decoration: line-through;
            color: var(--gray-purple)
        }

        .status {
            font-size: 14px;
            text-transform: capitalize;
            /* font-style: italic; */
            margin-bottom: 5px;
        }
    }

    .panel {
        display: flex;
        gap: 15px;
        align-items: center;

        input[type="checkbox"] {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        button.delete-button {
            height: 25px;
            /* padding: 5px 10px; */
            border: none;
            border-radius: 5px;
            color: #b82f2f;
            background-color: transparent;
            font-size: 12px;
            cursor: pointer;
        }

        .delete-button svg {
            width: 25px;
        }
    }
}