.App {
    margin: 0 auto;
    max-width: 600px;

    .title-sidebar {
        margin: 0 auto;
        max-width: 480px;
    }
    
    .title {
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 1024px) {
    #root {
        padding: 0;
    }

   .App {
        margin: 0 auto;
        width: 100%;
        height: 100vh;
        max-width: none;
        display: grid;
        grid-template-columns: min-content 1fr;
        overflow: hidden;
        /* align-items: center; */
        /* grid-auto-flow: column; */
        /* grid-template-rows: 100vh; */

        .title-sidebar {
            position: sticky;
            top: 0;
            display: grid;
            align-content: center;
            height: 100vh;
            max-width: none;
            padding-left: 20px;
        }

        .main-content {
            height: 100vh;
            overflow-y: auto;
            padding: 20px;
            scroll-behavior: smooth;
        }
    }
    
}