#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    align-items: center;
}

.App {
    margin: 0 auto;
    max-width: 600px;

    .title-sidebar {
        padding-left: 20px;
    }
}

.title {
    margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
    #root {
        padding: 0;
    }

   .App {
        margin: 0 auto;
        width: 100%;
        height: 100vh;
        max-width: none;
        display: grid;
        grid-template-columns: min-content 1fr;
        overflow: hidden;
        /* align-items: center; */
        /* grid-auto-flow: column; */
        /* grid-template-rows: 100vh; */

        .title-sidebar {
            position: sticky;
            height: 100vh;
            top: 0;
            display: grid;
            align-content: center;
        }

        .main-content {
            height: 100vh;
            overflow-y: auto;
            padding: 20px;
            scroll-behavior: smooth;
        }
    }
    
}