:root {
    --background-color: #09001C;
    --gray-purple: #4f4760;
    --purple-white: #E4E3E6;
    --bright-color-1: #5100ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--purple-white);
    background-color: var(--background-color);
    /* background-image: linear-gradient(to bottom right, var(--background-color) 60%, #7CED53), linear-gradient(to bottom right, rgba(255,0,0,0.5), yellow); */
    /* background-image: linear-gradient(to bottom right, rgba(255,0,0,0.5), yellow); */
}